.head .link7{background-image:url("/images/g.png#dingo");}
.head .link8{background-image:url("/images/h.png?name=tapir");}
.head .link7b{background-image:url("images/g.png#dingo");}
.head .link8b{background-image:url("images/h.png?name=tapir");}
